html, body {
   height: 100%;
   margin: 0;
   font-size: 16px;
   overflow: scroll;
   background-color: rgb(18, 161, 197);
   font-family: 'Helvetica Neue', sans-serif;
}

.main {
   padding: 2rem!important;
}

h1 {
   font-weight: 200;
   font-size: 3em;
   color: #fff;
   margin-bottom: 3rem;
}

h1 strong {
   font-weight: 800;
}

.blockly {
   margin-bottom: 3rem;
}

#blocklyDiv {
   float: right;
   height: 60vh;
}

.code-wrapper {
   background-color: #fff;
   border-width: 0.2rem;
   border: solid #ccc;
   height: 60vh;
}

.code-wrapper form, .code-wrapper fieldset {
   height: 100%;
}

.code-wrapper legend {
   color: rgb(18, 161, 197);
   font-size: 1em;
   font-weight: bold;
   padding: 0.5rem 0;
   margin-bottom: 0;
   height: 10%;
}

pre {
   background-color: #efefef;
   border-radius: 1.5rem;
   padding: 1rem 1.5rem;
   height: 85%;
}

.made-by {
   color: #eee;
}


.comment {
   color: rgb(23, 169, 43);
}

.reserved-word {
   color: rgb(18, 161, 197);  
}

.reserved-word-2 {
   color: rgb(233, 159, 0);
}

.reserved-word-3 {
   color: rgb(211, 9, 133);
}

@media (max-width: 992px) { 
   body {
      font-size: 15px;
   }

   .code-wrapper legend {
      height: 10%;
   }
}

@media (max-width: 768px) { 
   body {
      font-size: 14px;
   }
   
   #blocklyDiv {
      height: 40vh;
      margin-bottom: 3rem;
   }
   
   .code-wrapper {
      height: 40vh;
      margin: 0 15px;
   }

   .code-wrapper legend {
      height: 13%;
   }

   pre {
      height: 80%;
   }
   
   .btn {
      margin-bottom: 3rem;
   }
}

@media (max-width: 576px) { 
   body {
      font-size: 12px;
   }

   #blocklyDiv {
      height: 30vh;
   }

   .code-wrapper {
      height: 30vh;
   }
}