body {
   font-family: 'Helvetica Neue', sans-serif;
   background: #fafafa;
}

p {
   font-size: 1.1em;
   font-weight: 400;
   line-height: 1.7em;
   color: #888;
}

a, a:hover, a:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
}

pre {
   background-color: #efefef;
   border-radius: 1.5rem;
}

.output {
   background-color: #000;
   border-radius: 1.5rem;
   color: #59f924;
   padding: 1rem;
}

/********** Wrapper **********/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgb(18, 161, 197);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 0;
}

#wrapper #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/********** Sidebar nav **********/

.sidebar-nav {
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.navbar {
   padding: 15px 10px;
   background: #fff;
   border: none;
   border-radius: 0;
   margin-bottom: 40px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
   box-shadow: none;
   outline: none !important;
   border: none;
}

.line {
   width: 100%;
   height: 1px;
   border-bottom: 1px dashed #ddd;
   margin: 40px 0;
}

.resource, .reserved-word {
   color: rgb(18, 161, 197);  
}

.comment {
   color: rgb(23, 169, 43);
}

.reserved-word-2 {
   color: rgb(233, 159, 0);
}

.reserved-word-3 {
   color: rgb(211, 9, 133);
}

/********** Sidebar **********/
.wrapper {
   display: flex;
   align-items: stretch;
}

#sidebar-wrapper {
   background: rgba(18, 161, 197, 0.7);
   color: #fff;
   transition: all 0.3s;
}

#sidebar.active {
   margin-left: -250px;
}

#sidebar-wrapper .sidebar-header {
   padding: 20px;
   background: rgb(18, 161, 197);
}

.sidebar-header.right {
   margin-top: 0.5rem;
}

#sidebar-wrapper ul.components {
   padding: 20px 0;
   border-bottom: 2px solid rgb(18, 161, 197);
}

#sidebar-wrapper ul p {
   color: #fff;
   padding: 10px;
}

#sidebar-wrapper ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
}

#sidebar-wrapper ul li a:hover {
   color: rgb(18, 161, 197);
   background: #fff;
}

#sidebar-wrapper ul li.active > a, a[aria-expanded="true"] {
   color: #fff;
   background: rgb(18, 161, 197);
}

a[data-toggle="collapse"] {
   position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
   content: '\e259';
   display: block;
   position: absolute;
   right: 20px;
   font-family: 'Glyphicons Halflings';
   font-size: 0.6em;
}

a[aria-expanded="true"]::before {
   content: '\e260';
}

ul.CTAs {
   padding: 20px;
}

ul.CTAs a {
   text-align: center;
   font-size: 0.9em !important;
   display: block;
   border-radius: 5px;
   margin-bottom: 5px;
}

a.try {
   background: #fff;
   color: rgb(18, 161, 197);
}

a.article, a.article:hover {
   background: #6d7fcc !important;
   color: #fff !important;
}

/********** Content **********/
#content {
   padding: 20px;
   min-height: 100vh;
   transition: all 0.3s;
}

#sidebarCollapse {
   width: 40px;
   height: 40px;
   background: #f5f5f5;
}

#sidebarCollapse span {
   width: 80%;
   height: 2px;
   margin: 0 auto;
   display: block;
   background: #555;
   transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
   transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
   transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
   opacity: 0;
}

#sidebarCollapse span:last-of-type {
   transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
   transform: none;
   opacity: 1;
   margin: 5px auto;
}

/********** Mediaqueries **********/

@media(min-width:768px) {
   #wrapper.toggled {
    padding-left: 0px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
   #wrapper #sidebar-wrapper {
      width: 0;
   }

   #wrapper.toggled #sidebar-wrapper {
      width: 250px;
   }

   #wrapper {
      padding-left: 0;
   }
   #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
   }
   #sidebar.active {
      margin-left: 0;
      transform: none;
   }

   #sidebarCollapse span:first-of-type,
   #sidebarCollapse span:nth-of-type(2),
   #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
   }

   #sidebarCollapse.active span {
      margin: 0 auto;
   }

   #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
   }

   #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
   }

   #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
   }
}
