<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div class="wrapper">
      <nav id="sidebar">
         <div class="sidebar-header">
            <h3>Menú</h3>               
         </div>

         <ul class="list-unstyled components">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/control-de-flujo">Control de flujo</a></li>
            <li class="active"><a href="/bloque-principal">Bloque principal</a></li>
            <li><a href="/ejemplos">Ejemplos de programas</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </nav>

      <div id="content">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         
         <p class="text-left"><a href="/control-de-flujo" class="resource">< Control de flujo</a></p>
         
         <h2>Bloque principal</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         
         <div class="line"></div>

         <h2>Ejemplos de programas</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

         <p class="text-right"><a href="/ejemplos" class="resource">Ejemplos de programas ></a></p>
      <div>
   </div>
   
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
         });
      });
   </script>
</body>
</html>