<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div id="wrapper">
      <div id="sidebar-wrapper">
         <div class="sidebar-header">
            <h3>Menú</h3>
         </div>

         <ul class="list-unstyled components sidebar-nav">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li class="active"><a href="/control-de-flujo">Control de flujo</a></li>
            <li><a href="/bloque-principal">Bloque principal</a></li>
            <li><a href="/ejemplos">Ejemplos de programas</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </div>

      <div id="page-content-wrapper">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                  <p class="text-left"><a href="/funciones" class="resource">< Funciones</a></p>
                  <h2>Control de flujo</h2>
                  <p>Por omisión, el código que compone tu programa se ejecuta de manera secuencial, de arriba hacia abajo.
                     Sin embargo, en ocasiones es necesario omitir ciertas partes de tu programa si existe cierta condición,
                     o incluso repetir una parte de tu programa si otra condición existe.</p>
                  <br />

                  <p>Para estas situaciones, haremos uso del enunciado <span class="reserved-word">si sucede</span> y <span class="reserved-word">mientras sucede</span>.
                     Dichos enunciados harán necesario el uso de operadores que nos permiten comparar dos operandos.</p>


                  <p>Los operadores de comparación disponibles son:
                     <ol>
                        <li><strong>></strong>: compara si la expresión de la izquierda es mayor a la expresión de la derecha</li>
                        <li><strong>>=</strong>: compara si la expresión de la izquierda es mayor o igual a la expresión de la derecha</li>
                        <li><strong><</strong>: compara si la expresión de la izquierda es menor a la expresión de la derecha</li>
                        <li><strong><=</strong>: compara si la expresión de la izquierda es menor o igual a la expresión de la derecha</li>
                        <li><strong>==</strong>: compara si la expresión de la izquierda es igual a la expresión de la derecha</li>
                        <li><strong>!=</strong>: compara si la expresión de la izquierda es diferente a la expresión de la derecha</li>
                     </ol>
                  </p>

                  <div class="line"></div>
                  
                  <h4>Enunciado <span class="reserved-word">si sucede</span></h4>
                  <p>Este enunciado permite evaluar una expresión, y en base al resultado, ejecutar cierto código. Por ejemplo, si quisiéramos imprimir un mensaje
                     de "aprobado" si el resultado de un examen fue mayor a 7, y un mensaje de "reprobado" en caso contrario, lo haríamos así:</p>

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> resultado;

   {
      resultado = 8

      <span class="reserved-word">si sucede</span> (resultado > 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado")
      } <span class="reserved-word">no sucede</span> {
         imprimir ("reprobado")
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>aprobado</samp>
                  </div>
                  <br />

                  <p>Podemos evaluar más de una expresión de la siguiente forma:</p>

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> resultado;

   {
      resultado = 7

      <span class="reserved-word">si sucede</span> (resultado > 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado")
      } <span class="reserved-word">o si sucede</span> (resultado == 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado por poco")
      } <span class="reserved-word">no sucede</span> {
         imprimir ("reprobado")
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>aprobado por poco</samp>
                  </div>
                  <br />

                  <div class="line"></div>

                  <h4>Enunciado <span class="reserved-word">mientras sucede</span></h4>
                  <p>Podemos ejecutar un pedazo de código hasta que cierta condición se cumpla de la siguiente forma:</p>

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> repeticionActual, repeticionesMaximas;

   {
      repeticionActual = 1
      repeticionesMaximas = 5

      <span class="reserved-word">mientras sucede</span> (repeticionActual <= repeticionesMaximas) <span class="reserved-word">realiza</span> {
         imprimir (repeticionActual)
         repeticionActual = repeticionActual + 1
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>1</samp><br />
                     <samp>2</samp><br />
                     <samp>3</samp><br />
                     <samp>4</samp><br />
                     <samp>5</samp><br />
                  </div>
                  <br />
                  

                  <p class="text-right"><a href="/bloque-principal" class="resource">Bloque principal ></a></p>
               </div>
            </div>

         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $(this).toggleClass('active');
            $("#wrapper").toggleClass("toggled");
         });
      });
   </script>
</body>
</html>