<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div id="wrapper">
      <div id="sidebar-wrapper">
         <div class="sidebar-header">
            <h3>Menú</h3>
         </div>

         <ul class="list-unstyled components sidebar-nav">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/control-de-flujo">Control de flujo</a></li>
            <li class="active"><a href="/ejemplos">Ejemplos de programas</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </div>

      <div id="page-content-wrapper">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                  <p class="text-left"><a href="/control-de-flujo" class="resource">< Control de flujo</a></p>

                  <h2>Ejemplos de programas</h2>
                  <p>En esta lección se presenta una colección de programas comunes en programación, con el objetivo de que te familiarices más
                     con el lenguaje y sirvan como referencia para construir los tuyos.
                  </p>
                  
                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Factorial de un número (versión iterativa) -->
                  <!--  -->
                  <h4>Factorial de un número (versión iterativa)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> factorial(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> resultado, contador;
      resultado = 1
      contador = 1

      <span class="reserved-word">mientras sucede</span> (contador <= n) <span class="reserved-word">realiza</span> {
         resultado = resultado * contador
         contador = contador + 1
      }
      
      <span class="reserved-word-3">devolver</span> resultado
   }

   {
      <span class="reserved-word">imprimir</span> ("1!: ", factorial(1), "")
      <span class="reserved-word">imprimir</span> ("4!: ", factorial(4), "")
      <span class="reserved-word">imprimir</span> ("7!: ", factorial(7), "")
      <span class="reserved-word">imprimir</span> ("10!: ", factorial(10), "")
   }

   <span class="comment">// 0! = 1</span>
   <span class="comment">// 1! = 1</span>
   <span class="comment">// 2! = 2</span>
   <span class="comment">// 3! = 6</span>
   <span class="comment">// 4! = 24</span>
   <span class="comment">// 5! = 120</span>
   <span class="comment">// 6! = 720</span>
   <span class="comment">// 7! = 5040</span>
   <span class="comment">// 8! = 40320</span>
   <span class="comment">// 9! = 362880</span>
   <span class="comment">// 10! = 3628800</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>1!:</samp><br />
                     <samp>1</samp><br /><br />
                     <samp>4!:</samp><br />
                     <samp>24</samp><br /><br />
                     <samp>7!:</samp><br />
                     <samp>5040</samp><br /><br />
                     <samp>10!:</samp><br />
                     <samp>3628800</samp><br /><br />
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Factorial de un número (versión recursiva) -->
                  <!--  -->
                  <h4>Factorial de un número (versión recursiva)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> factorial(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> temporal;

      <span class="reserved-word">si sucede</span> (n <= 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> 1
      } <span class="reserved-word">no sucede</span> {
         temporal = factorial(n - 1)
         <span class="reserved-word-3">devolver</span> n * temporal
      }
   }

   {
      <span class="reserved-word">imprimir</span> ("1!: ", factorial(1), "")
      <span class="reserved-word">imprimir</span> ("4!: ", factorial(4), "")
      <span class="reserved-word">imprimir</span> ("7!: ", factorial(7), "")
      <span class="reserved-word">imprimir</span> ("10!: ", factorial(10), "")
   }

   <span class="comment">// 0! = 1</span>
   <span class="comment">// 1! = 1</span>
   <span class="comment">// 2! = 2</span>
   <span class="comment">// 3! = 6</span>
   <span class="comment">// 4! = 24</span>
   <span class="comment">// 5! = 120</span>
   <span class="comment">// 6! = 720</span>
   <span class="comment">// 7! = 5040</span>
   <span class="comment">// 8! = 40320</span>
   <span class="comment">// 9! = 362880</span>
   <span class="comment">// 10! = 3628800</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>1!:</samp><br />
                     <samp>1</samp><br /><br />
                     <samp>4!:</samp><br />
                     <samp>24</samp><br /><br />
                     <samp>7!:</samp><br />
                     <samp>5040</samp><br /><br />
                     <samp>10!:</samp><br />
                     <samp>3628800</samp><br /><br />
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Fibonacci de un número (versión iterativa) -->
                  <!--  -->
                  <h4>Fibonacci de un número (versión iterativa)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> fibo(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> fibo, fiboAnterior, contador, temporal;

      fibo = 1
      fiboAnterior = 1

      <span class="reserved-word">si sucede</span> (n <= 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> n
      }

      contador = 2
      
      <span class="reserved-word">mientras sucede</span> (contador < n) <span class="reserved-word">realiza</span> {
         temporal = fibo
         fibo = fibo + fiboAnterior
         fiboAnterior = temporal
         contador = contador + 1
      }

      <span class="reserved-word-3">devolver</span> fibo
   }

   {
      <span class="reserved-word">imprimir</span> ("Fibo(4): ", fibo(4), "")
      <span class="reserved-word">imprimir</span> ("Fibo(10): ", fibo(10), "")
      <span class="reserved-word">imprimir</span> ("Fibo(20): ", fibo(20), "")
   }

   <span class="comment">// Fibo(0) = 0</span>
   <span class="comment">// Fibo(1) = 1</span>
   <span class="comment">// Fibo(2) = 1</span>
   <span class="comment">// Fibo(3) = 2</span>
   <span class="comment">// Fibo(4) = 3</span>
   <span class="comment">// Fibo(5) = 5</span>
   <span class="comment">// Fibo(10) = 55</span>
   <span class="comment">// Fibo(20) = 6765</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>Fibo(4):</samp><br />
                     <samp>3</samp><br /><br />
                     <samp>Fibo(10):</samp><br />
                     <samp>55</samp><br /><br />
                     <samp>Fibo(20):</samp><br />
                     <samp>6765</samp><br /><br />
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Fibonacci de un número (versión recursiva) -->
                  <!--  -->
                  <h4>Fibonacci de un número (versión recursiva)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> fibo(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> n1, n2;

      <span class="reserved-word">si sucede</span> (n == 0 o n == 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> n
      } <span class="reserved-word">no sucede</span> {
         n1 = fibo(n - 1)
         n2 = fibo(n - 2)
         <span class="reserved-word-3">devolver</span> n1 + n2
      }
   }

   {
      <span class="reserved-word">imprimir</span> ("Fibo(4): ", fibo(4), "")
      <span class="reserved-word">imprimir</span> ("Fibo(10): ", fibo(10), "")
      <span class="reserved-word">imprimir</span> ("Fibo(20): ", fibo(20), "")
   }

   <span class="comment">// Fibo(0) = 0</span>
   <span class="comment">// Fibo(1) = 1</span>
   <span class="comment">// Fibo(2) = 1</span>
   <span class="comment">// Fibo(3) = 2</span>
   <span class="comment">// Fibo(4) = 3</span>
   <span class="comment">// Fibo(5) = 5</span>
   <span class="comment">// Fibo(10) = 55</span>
   <span class="comment">// Fibo(20) = 6765</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>Fibo(4):</samp><br />
                     <samp>3</samp><br /><br />
                     <samp>Fibo(10):</samp><br />
                     <samp>55</samp><br /><br />
                     <samp>Fibo(20):</samp><br />
                     <samp>6765</samp><br /><br />
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Ordenar una lista -->
                  <!--  -->
                  <h4>Ordenar una lista</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> resultado;

   {
      resultado = 8

      <span class="reserved-word">si sucede</span> (resultado > 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado")
      } <span class="reserved-word">no sucede</span> {
         imprimir ("reprobado")
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>aprobado</samp>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Buscar un elemento en una lista -->
                  <!--  -->
                  <h4>Buscar un elemento en una lista</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> resultado;

   {
      resultado = 8

      <span class="reserved-word">si sucede</span> (resultado > 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado")
      } <span class="reserved-word">no sucede</span> {
         imprimir ("reprobado")
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>aprobado</samp>
                  </div>

                  <div class="line"></div>

                  <!--  -->
                  <!-- Multiplicación de dos listas -->
                  <!--  -->
                  <h4>Multiplicación de dos listas</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> resultado;

   {
      resultado = 8

      <span class="reserved-word">si sucede</span> (resultado > 7) <span class="reserved-word">realiza</span> {
         imprimir ("aprobado")
      } <span class="reserved-word">no sucede</span> {
         imprimir ("reprobado")
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>aprobado</samp>
                  </div>

                  <br />

               </div>
            </div>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $(this).toggleClass('active');
            $("#wrapper").toggleClass("toggled");
         });
      });
   </script>
</body>
</html>