<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div id="wrapper">
      <div id="sidebar-wrapper">
         <div class="sidebar-header">
            <h3>Menú</h3>
         </div>

         <ul class="list-unstyled components sidebar-nav">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/control-de-flujo">Control de flujo</a></li>
            <li class="active"><a href="/ejemplos">Ejemplos de programas</a></li>
            <li><a href="/demo">Video demo</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </div>

      <div id="page-content-wrapper">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                  <p class="text-left"><a href="/control-de-flujo" class="resource">< Control de flujo</a></p>

                  <h2>Ejemplos de programas</h2>
                  <p>En esta lección se presenta una colección de programas comunes en programación, con el objetivo de que te familiarices más
                     con el lenguaje y sirvan como referencia para construir los tuyos.
                  </p>
                  
                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Factorial de un número (versión iterativa) -->
                  <!--  -->
                  <h4>Factorial de un número (versión iterativa)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> factorial(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> resultado, contador;
      resultado = 1
      contador = 1

      <span class="reserved-word">mientras sucede</span> (contador <= n) <span class="reserved-word">realiza</span> {
         resultado = resultado * contador
         contador = contador + 1
      }
      
      <span class="reserved-word-3">devolver</span> resultado
   }

   {
      <span class="reserved-word">imprimir</span> ("1! = ", factorial(1))
      <span class="reserved-word">imprimir</span> ("3! = ", factorial(3))
      <span class="reserved-word">imprimir</span> ("5! = ", factorial(5))
      <span class="reserved-word">imprimir</span> ("7! = ", factorial(7))
      <span class="reserved-word">imprimir</span> ("10! = ", factorial(10))
   }

   <span class="comment">// 0! = 1</span>
   <span class="comment">// 1! = 1</span>
   <span class="comment">// 2! = 2</span>
   <span class="comment">// 3! = 6</span>
   <span class="comment">// 4! = 24</span>
   <span class="comment">// 5! = 120</span>
   <span class="comment">// 6! = 720</span>
   <span class="comment">// 7! = 5040</span>
   <span class="comment">// 8! = 40320</span>
   <span class="comment">// 9! = 362880</span>
   <span class="comment">// 10! = 3628800</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samps>1! = 1</samps><br />
                     <samps>3! = 6</samps><br />
                     <samps>5! = 120</samps><br />
                     <samps>7! = 5040</samps><br />
                     <samps>10! = 3628800</samps>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Factorial de un número (versión recursiva) -->
                  <!--  -->
                  <h4>Factorial de un número (versión recursiva)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> factorial(<span class="reserved-word-3">numero</span> n) {      
      <span class="reserved-word">si sucede</span> (n <= 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> 1
      } <span class="reserved-word">no sucede</span> {
         <span class="reserved-word-3">devolver</span> n * factorial(n - 1)
      }
   }

   {
      <span class="reserved-word">imprimir</span> ("1! = ", factorial(1))
      <span class="reserved-word">imprimir</span> ("3! = ", factorial(3))
      <span class="reserved-word">imprimir</span> ("5! = ", factorial(5))
      <span class="reserved-word">imprimir</span> ("7! = ", factorial(7))
      <span class="reserved-word">imprimir</span> ("10! = ", factorial(10))
   }

   <span class="comment">// 0! = 1</span>
   <span class="comment">// 1! = 1</span>
   <span class="comment">// 2! = 2</span>
   <span class="comment">// 3! = 6</span>
   <span class="comment">// 4! = 24</span>
   <span class="comment">// 5! = 120</span>
   <span class="comment">// 6! = 720</span>
   <span class="comment">// 7! = 5040</span>
   <span class="comment">// 8! = 40320</span>
   <span class="comment">// 9! = 362880</span>
   <span class="comment">// 10! = 3628800</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samps>1! = 1</samps><br />
                     <samps>3! = 6</samps><br />
                     <samps>5! = 120</samps><br />
                     <samps>7! = 5040</samps><br />
                     <samps>10! = 3628800</samps>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Fibonacci de un número (versión iterativa) -->
                  <!--  -->
                  <h4>Fibonacci de un número (versión iterativa)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> fibo(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> fibo, fiboAnterior, contador, temporal;

      fibo = 1
      fiboAnterior = 1

      <span class="reserved-word">si sucede</span> (n <= 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> n
      }

      contador = 2
      
      <span class="reserved-word">mientras sucede</span> (contador < n) <span class="reserved-word">realiza</span> {
         temporal = fibo
         fibo = fibo + fiboAnterior
         fiboAnterior = temporal
         contador = contador + 1
      }

      <span class="reserved-word-3">devolver</span> fibo
   }

   {
      <span class="reserved-word">imprimir</span> ("Fibo(1): ", fibo(1), "")
      <span class="reserved-word">imprimir</span> ("Fibo(4): ", fibo(4), "")
      <span class="reserved-word">imprimir</span> ("Fibo(10): ", fibo(10), "")
      <span class="reserved-word">imprimir</span> ("Fibo(20): ", fibo(20), "")
   }

   <span class="comment">// Fibo(0) = 0</span>
   <span class="comment">// Fibo(1) = 1</span>
   <span class="comment">// Fibo(2) = 1</span>
   <span class="comment">// Fibo(3) = 2</span>
   <span class="comment">// Fibo(4) = 3</span>
   <span class="comment">// Fibo(5) = 5</span>
   <span class="comment">// Fibo(10) = 55</span>
   <span class="comment">// Fibo(20) = 6765</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samps>Fibo(1): 1</samps><br />
                     <samps>Fibo(4): 3</samps><br />
                     <samps>Fibo(10): 55</samps><br />
                     <samps>Fibo(20): 6765</samps>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Fibonacci de un número (versión recursiva) -->
                  <!--  -->
                  <h4>Fibonacci de un número (versión recursiva)</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">numero</span> <span class="reserved-word-3">funcion</span> fibo(<span class="reserved-word-3">numero</span> n) {
      <span class="reserved-word">si sucede</span> (n == 0 o n == 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word-3">devolver</span> n
      } <span class="reserved-word">no sucede</span> {
         <span class="reserved-word-3">devolver</span> fibo(n - 1) + fibo(n - 2)
      }
   }

   {
      <span class="reserved-word">imprimir</span> ("Fibo(1): ", fibo(1), "")
      <span class="reserved-word">imprimir</span> ("Fibo(4): ", fibo(4), "")
      <span class="reserved-word">imprimir</span> ("Fibo(10): ", fibo(10), "")
      <span class="reserved-word">imprimir</span> ("Fibo(20): ", fibo(20), "")
   }

   <span class="comment">// Fibo(0) = 0</span>
   <span class="comment">// Fibo(1) = 1</span>
   <span class="comment">// Fibo(2) = 1</span>
   <span class="comment">// Fibo(3) = 2</span>
   <span class="comment">// Fibo(4) = 3</span>
   <span class="comment">// Fibo(5) = 5</span>
   <span class="comment">// Fibo(10) = 55</span>
   <span class="comment">// Fibo(20) = 6765</span>
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samps>Fibo(1): 1</samps><br />
                     <samps>Fibo(4): 3</samps><br />
                     <samps>Fibo(10): 55</samps><br />
                     <samps>Fibo(20): 6765</samps>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Ordenar una lista -->
                  <!--  -->
                  <h4>Ordenar una lista</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de 5 miListaDeNumeros;

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">funcion</span> ordenaLista(<span class="reserved-word-3">numero</span> tamanio) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> i, j, temporal;
      i = 0

      <span class="reserved-word">mientras sucede</span> (i < tamanio - 1) <span class="reserved-word">realiza</span> {
         j = 0
         <span class="reserved-word">mientras sucede</span> (j < tamanio - 1) <span class="reserved-word">realiza</span> {
            <span class="reserved-word">si sucede</span> (<span class="reserved-word">acceder</span> (miListaDeNumeros, j) > <span class="reserved-word">acceder</span> (miListaDeNumeros, j + 1)) <span class="reserved-word">realiza</span> {
               temporal = <span class="reserved-word">acceder</span> (miListaDeNumeros, j)
               <span class="reserved-word">agregar a</span> (miListaDeNumeros, <span class="reserved-word">acceder</span> (miListaDeNumeros, j + 1), j)
               <span class="reserved-word">agregar a</span> (miListaDeNumeros, temporal, j + 1)
            }
            
            j = j + 1
         } 

         i = i + 1
      }
   }

   {
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 20, 0)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 15, 1)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 10, 2)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 5, 3)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 1, 4)

      <span class="reserved-word">imprimir</span> ("miListaDeNumeros (desordenada) = ", miListaDeNumeros)
      ordenaLista(5)
      <span class="reserved-word">imprimir</span> ("miListaDeNumeros (ordenada) = ", miListaDeNumeros)
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>miListaDeNumeros (desordenada) = [20, 15, 10, 5, 1]</samp><br />
                     <samp>miListaDeNumeros (ordenada) = [1, 5, 10, 15, 20]</samp>
                  </div>

                  <div class="line"></div>
                  
                  <!--  -->
                  <!-- Buscar un elemento en una lista -->
                  <!--  -->
                  <h4>Buscar un elemento en una lista</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> miNumeroABuscar;
   <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de 5 miListaDeNumeros;

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">binario</span> <span class="reserved-word-3">funcion</span> buscaEnListaElNumero(<span class="reserved-word-3">numero</span> numeroABuscar, <span class="reserved-word-3">numero</span> tamanio) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> i;
      i = 0

      <span class="reserved-word">mientras sucede</span> (i < tamanio - 1) <span class="reserved-word">realiza</span> {
         <span class="reserved-word">si sucede</span> (<span class="reserved-word">acceder</span> (miListaDeNumeros, i) == numeroABuscar) <span class="reserved-word">realiza</span> {
            <span class="reserved-word-3">devolver</span> verdadero
         }
         
         i = i + 1
      }

      <span class="reserved-word-3">devolver</span> falso
   }

   {
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 20, 0)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 15, 1)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 10, 2)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 5, 3)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 1, 4)
      miNumeroABuscar = 100

      <span class="reserved-word">imprimir</span> ("miListaDeNumeros = ", miListaDeNumeros)
      
      <span class="reserved-word">si sucede</span> (buscaEnListaElNumero(miNumeroABuscar, 5)) <span class="reserved-word">realiza</span> {
         <span class="reserved-word">imprimir</span> (miNumeroABuscar, " si está en ", miListaDeNumeros)
      } <span class="reserved-word">no sucede</span> {
         <span class="reserved-word">imprimir</span> (miNumeroABuscar, " no está en ", miListaDeNumeros)
      }

      miNumeroABuscar = 10

      <span class="reserved-word">si sucede</span> (buscaEnListaElNumero(miNumeroABuscar, 5)) <span class="reserved-word">realiza</span> {
         <span class="reserved-word">imprimir</span> (miNumeroABuscar, " si está en ", miListaDeNumeros)
      } <span class="reserved-word">no sucede</span> {
         <span class="reserved-word">imprimir</span> (miNumeroABuscar, " no está en ", miListaDeNumeros)
      }
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>miListaDeNumeros = [20, 15, 10, 5, 1]</samp><br />
                     <samp>100 no está en [20, 15, 10, 5, 1]</samp><br />
                     <samp>10 si está en [20, 15, 10, 5, 1]</samp>
                  </div>
                  <br />

                  <div class="line"></div>

                  <!--  -->
                  <!-- Multiplicación de dos listas -->
                  <!--  -->
                  <h4>Multiplicación de dos listas</h4>
                  <br />

      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span> 
   <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de 3 miListaDeNumeros1, miListaDeNumeros2;

   <span class="reserved-word-2">funciones:</span>
   <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de 3 <span class="reserved-word-3">funcion</span> multiplicaDosListas(<span class="reserved-word-3">numero</span> tamanio) {
      <span class="reserved-word-2">variables:</span>
      <span class="reserved-word-3">numero</span> i;
      <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de 3 miListaDeResultados;
      i = 0

      <span class="reserved-word">mientras sucede</span> (i < tamanio) <span class="reserved-word">realiza</span> {
         <span class="reserved-word">agregar a</span> (miListaDeResultados, <span class="reserved-word">acceder</span> (miListaDeNumeros1, i) * <span class="reserved-word">acceder</span> (miListaDeNumeros2, i), i)
         i = i + 1
      }

      <span class="reserved-word-3">devolver</span> miListaDeResultados
   }

   {
      <span class="reserved-word">agregar a</span> (miListaDeNumeros1, 1, 0)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros1, 2, 1)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros1, 3, 2)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros2, 10, 0)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros2, 20, 1)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros2, 30, 2)
   
      <span class="reserved-word">imprimir</span> ("miListaDeNumeros1 = ", miListaDeNumeros1)
      <span class="reserved-word">imprimir</span> ("miListaDeNumeros2 = ", miListaDeNumeros2)
      <span class="reserved-word">imprimir</span> ("miListaDeResultados = ", multiplicaDosListas(3))
      
   }
      </code>
      </pre>
                  <br />
                  <div class="output">
                     <samp>miListaDeNumeros1 = [1, 2, 3]</samp><br />
                     <samp>miListaDeNumeros2 = [10, 20, 30]</samp><br />
                     <samp>miListaDeResultados = [10, 40, 90]</samp>
                  </div>

                  <br />
                  
                  <p class="text-right"><a href="/demo" class="resource">Video demo ></a></p>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $(this).toggleClass('active');
            $("#wrapper").toggleClass("toggled");
         });
      });
   </script>
</body>
</html>