<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="¡Aprende a programar arrastrando y soltando bloques!">

    <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../static/css/custom.css">
    
    <title>Bloques de C-ES</title>
    <script src="./../static/blockly/blockly_compressed.js"></script>
    <script src="./../static/blockly/blocks_compressed.js"></script>
    <script src="./../static/blockly/msg/js/en.js"></script>
    <script src="./../static/blockly/javascript_compressed.js"></script>
   <script src="./../static/blockly/generators/javascript/custom.js"></script>
   <script src="./../static/blockly/blocks/custom.js"></script>
</head>

<body>
    <div class="container-fluid main">
        <div class="row">
            <div class="col">
                <h1 class="text-center">¡Aprende a programar con <strong>Bloques de C-ES</strong>!</h1>
            </div>
        </div>

        <div class="row equal blockly">
            <div id="blocklyDiv" class="col-xs-12 col-md-6"></div>
            <div class="col-xs-12 col-md-6 code-wrapper">
                <form>
                    <fieldset>
                        <legend>Código C-ES generado:</legend>
<pre>
<code id="textarea"><span class="comment">// ¡Hola, mundo!</span>
<span class="reserved-word">programa</span>

{
   <span class="reserved-word">imprimir</span>("¡Hola, mundo!'")
}
</code>
</pre>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row flex-column-reverse flex-sm-row">
            <div class="col-sm-6 text-center made-by">
                <p>⚒ por:
                    <br>Alejandro Henkel A01270874
                    <br>Fernando López Martínez A01172527
                </p>
            </div>

            <div class="col-sm-2 offset-sm-2 text-center">
                <button type="button" class="btn btn-light execute-code" onclick="executeCode()">Ejecutar código</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Respuesta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

   <xml id="toolbox" style="display: none">
      <category name="Iniciar programa" colour="#00585E">
         <block type="programa"></block>
      </category>

      <category name="Declaración de variables" colour="#BF2803">
         <category name="Inicio de variables" colour="#F35B05">
            <block type="init_variables"></block>
         </category>

         <category name="Variables" colour="#F38C13">
            <block type="declare_variable"></block>
            <block type="one_more_variable"></block>
         </category>

         <category name="Listas" colour="#F0B90C">
            <block type="declare_array"></block>
            <block type="one_more_array"></block>
         </category>
      </category>

      <category name="Funciones" colour="#3D0D26">
         <category name="Inicio de funciones" colour="#660A3E">
            <block type="init_functions"></block>
         </category>

         <category name="Función con parámetros" colour="#891C56">
            <block type="function_with_params"></block>
            <block type="function_param"></block>
         </category>

         <category name="Función sin parámetros" colour="#B0276F">
            <block type="function_without_params"></block>
         </category>

         <category name="Declaración de variables locales" colour="#C93482">
            <category name="Inicio de variables locales" colour="#C93482">
               <block type="init_local_variables"></block>
            </category>
         
            <category name="Variables locales" colour="#C93482">
               <block type="declare_local_variable"></block>
               <block type="one_more_local_variable"></block>
            </category>
         
            <category name="Listas locales" colour="#C93482">
               <block type="declare_local_array"></block>
               <block type="one_more_local_array"></block>
            </category>
         </category>

         <category name="Llamar una función" colour="#EB509A">
            <category name="Función sin parámetros" colour="#EB509A">
               <block type="call_function_without_params"></block>
               <block type="assign_call_function_without_params"></block>
            </category>

            <category name="Función con parámetros" colour="#EB509A">
               <block type="call_function_with_params"></block>
               <block type="assign_call_function_with_params"></block>
               <block type="function_call_param"></block>
            </category>
         </category>
      </category>

      <category name="Asignación" colour="#00759A">
         <block type="assignment"></block>
         <block type="value"></block>
      </category>

      <category name="Expresión" colour="#0698BE">
         <block type="expression_simple"></block>
         <block type="expression_compound"></block>
      </category>

      <category name="Control de flujo" colour="#5BCAE2">
         <block type="if"></block>
         <block type="if_else"></block>
         <block type="else"></block>
         <block type="while"></block>
      </category>

      <category name="Funciones predefinidas" colour="#0F2347">
         <block type="read"></block>
         <block type="print"></block>
         <block type="add_to_list"></block>
         <block type="access_to_list"></block>
         <block type="remove_last_to_list"></block>
         <block type="random"></block>
      </category>

      <category name="Comentarios" colour="#17A92B">
         <block type="comment"></block>
      </category>
   </xml>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        var workspacePlayground = Blockly.inject('blocklyDiv', { 
            toolbox: document.getElementById('toolbox'),
            grid: {
                spacing: 20,
                length: 2,
                colour: 'rgb(18, 161, 197)',
                snap: true
            },
            scrollbars: true,
            sounds: false,
            trashcan: true
        });
        
        function myUpdateFunction(event) {
            console.log('myUpdateFunction');
            var code = Blockly.JavaScript.workspaceToCode(workspacePlayground);
            //code = code.replace(/^ +/gm, '');
            document.getElementById('textarea').innerHTML = code;
            //console.log('code', code.length);
        }

        workspacePlayground.addChangeListener(myUpdateFunction);

        function executeCode() {
            console.log('Execute code');
        }

        $(function () {
            $("button").click(function () {
                console.log('submit');
                var code = jQuery("textarea").val();
                $.ajax({
                    url: "https://c-es.herokuapp.com/execute",
                    method: "POST",
                    contentType: "text/plain",
                    data: code,
                    success: function (data) {
                        $('#myModal .modal-body').text(data);
                        $('#myModal').modal({show: true});
                    },
                    error: function (erorr) {
                        $('#myModal .modal-body').text(error);
                        $('#myModal').modal({ show: true });
                    }
                });
            });
        });
    </script>
</body>
</html>