<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div class="wrapper">
      <nav id="sidebar">
         <div class="sidebar-header">
            <h3>Menú</h3>               
         </div>

         <ul class="list-unstyled components">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li class="active"><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="#Funciones">Funciones</a></li>
            <li><a href="#Operadores">Operadores</a></li>
            <li><a href="#Control-de-flujo">Control de flujo</a></li>
            <li><a href="#Bloque-principal">Bloque principal</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </nav>

      <div id="content">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         
         <p class="text-left"><a href="/manual" class="resource">< Bienvenido a C-ES</a></p>

         <h2 id="Inicio-de-programa">Inicio de programa</h2>
         <p>La tradición sugiere que el primer programa en un nuevo lenguaje de programación debe de imprimir las palabras "¡Hola, mundo!" en la pantalla.
            Con C-ES esto se puede hacer de la siguiente forma:</p>
         
         <pre>
         <code>
      <span class="reserved-word">programa</span>

      {
         <span class="reserved-word">imprimir</span>("¡Hola, mundo!")
      }
      </code>
         </pre>

         <p>Ahora vamos a entender cada pieza del programa anterior.</p>
         
         <div class="line"></div>

         <h4>Programa</h4>
         <p>Todo programa escrito con C-ES empieza con la palabra reservada
            <code><span class="reserved-word">programa</span></code>.</p>
         
         <div class="line"></div>
         
         <h4>Bloque principal</h4>
         <p>Otra elemento que también debe de estar presente es el "bloque principal", que consiste de los caracteres
            <code><span class="reserved-word">{</span></code> y
            <code><span class="reserved-word">}</span></code>.</p>
         
         <br />
         <p>Es válido tener el bloque principal vacío, pero debe de estar presente. Entonces, cualquier programa debe de tener mínimo lo siguiente:</p>

         <pre>
         <code>
      <span class="reserved-word">programa</span>

      {
      }
      </code>
         </pre>
         
         <div class="line"></div>

         <h4>Comentarios</h4>
         <p>A veces es necesario dejar anotaciones en el código, ya sea para explicar funcionalidad de tu programa o proporcionar información extra.
            Para ello, puedes usar comentarios. Simplemente tienes que empezar tu comentario con los caracteres <code><span class="reserved-word">//</span></code>.</p>

         <br />

         <p>Por ejemplo:</p>

         <pre>
         <code>
      <span class="comment">// Esto es un comentario.</span>
      <span class="reserved-word">programa</span>

      {
         <span class="comment">// Esto también.</span>
         <span class="reserved-word">imprimir</span>("¡Hola, mundo!")
      }
      </code>
         </pre>
         
         <p>Debido a que los comentarios son ignorados al procesar tu código, puedes ponerlos en cualquier lugar.</p>
         
         <br />
         
         <p class="text-right"><a href="/variables" class="resource">Variables ></a></p>

      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script>
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
               $('#sidebar').toggleClass('active');
               $(this).toggleClass('active');
            });
         });
      </script>
</body>

</html>