<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">

   <title>Manual | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div class="wrapper">
      <nav id="sidebar">
         <div class="sidebar-header">
            <h3>Menú</h3>               
         </div>

         <ul class="list-unstyled components">
            <li class="active"><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/control-de-flujo">Control de flujo</a></li>
            <li><a href="/bloque-principal">Bloque principal</a></li>
            <li><a href="/ejemplos">Ejemplos de programas</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </nav>

      <div id="content">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>

         <h2>Bienvenido a C-ES</h2>
         <p>Algunas escuelas primarias en México no cuentan con recursos tecnológicos suficientes que permitan a los niños adentrarse al mundo de la programación.
         Además, la mayoría de los recursos educativos y documentación, ya sea en libros o en línea, están escritos en el idioma inglés y asumen cierto
         nivel de conocimientos no básicos en herramientas de computación.</p>
         <br />
         <p>Debido a esto, buscamos reducir la complejidad que implica para un niño el adentrarse en el mundo de la programación y aumentar
         los recursos de aprendizaje disponibles en idioma español.</p>
         <br />
         <p>C-ES es un lenguaje amigable a nuevos usuarios cuyo léxico está en idioma español. Además, proporcionamos un <a href="/" target="_blank" class="resource"><strong>recurso interactivo</strong></a> que permite
         escribir código C-ES arrastrando bloques definidos que representan las diferentes estructuras del lenguaje.</p>
         <br />
         <p>C-ES se ha desarrollado en el semestre Enero-Mayo 2018, y nuestras metas son ambicionas. ¡No podemos esperar a ver lo que crean con él!</p>
         <br />
         <p class="text-right"><a href="/inicio" class="resource">Inicio de programa ></a></p>
      <div>
   </div>
   
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
         });
      });
   </script>
</body>
</html>