<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Manual de referencia del lenguaje de programación C-ES.">
   
   <title>Inicio de programa | C-ES</title>
   
   <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="./../static/css/manual.css">
</head>

<body>
   <div id="wrapper">
      <div id="sidebar-wrapper">
         <div class="sidebar-header">
            <h3>Menú</h3>
         </div>

         <ul class="list-unstyled components sidebar-nav">
            <li><a href="/manual">Bienvenido a C-ES</a></li>
            <li><a href="/inicio">Inicio de programa</a></li>
            <li class="active"><a href="/variables">Variables</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/operadores">Operadores</a></li>
            <li><a href="/control-de-flujo">Control de flujo</a></li>
            <li><a href="/bloque-principal">Bloque principal</a></li>
            <li><a href="/ejemplos">Ejemplos de programas</a></li>
         </ul>

         <ul class="list-unstyled CTAs">
            <li><a href="/" class="try" target="_blank">Probar el lenguaje</a></li>
         </ul>
      </div>

      <div id="page-content-wrapper">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
               <div class="sidebar-header right">
                  <h3>Manual de referencia del lenguaje</h3>
               </div>
            </div>
         </nav>
         <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                  <p class="text-left"><a href="/inicio" class="resource">< Inicio de programa</a></p>
                  
                  <h2>Variables</h2>
                  <p>Una variable asocia un nombre a un valor de cierto tipo.</p>
                  <br />
         
                  <p>Los tipos de datos disponibles son:
                     <ol>
                        <li><strong>numero</strong>: para guardar números enteros como <i>4</i></li>
                        <li><strong>decimal</strong>: para guardar números decimales como <i>2.5</i></li>
                        <li><strong>texto</strong>: para guardar palabras como <i>"Hola"</i></li>
                        <li><strong>binario</strong>: para guardar ya sea <i>verdadero</i> o <i>falso</i></li>
                     </ol>
                  </p>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <p>Para declarar variables debes de hacerlo después
                     de la palabra <span class="reserved-word">programa</span>, especificando primero el tipo, el nombre de la variable y terminando con un punto y coma:
                  </p>
         
      <pre>
      <code>
   <span class="reserved-word">programa</span>

   <span class="reserved-word-2">variables:</span>
   <span class="reserved-word-3">numero</span> miPrimerVariableDeNumero;
   <span class="reserved-word-3">texto</span> miPrimerVariableDeTexto;

   {
   }
      </code>
      </pre>
                  
                  <br />
                  <p>Puedes declarar múltiples variables de un mismo tipo en una sola línea, separadas por comas:</p>
         
      <pre>
      <code>
   <span class="reserved-word-3">texto</span> miPrimerVariableDeTexto, otraVariableDeTexto;
      </code>
      </pre>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <br />
                  <p>Una vez declaradas las variables, puedes asignarles un valor dentro del bloque principal:</p>

      <pre>
      <code>
   {
      miPrimerVariableDeNumero = 5
      miPrimerVariableDeTexto = "Hola"
   }
      </code>
      </pre>
                  <br />
                  <p>Ahora que las variables ya tienen un valor, puedes hacer referencia a ellas para usarlas en operaciones o expresiones, 
                     de las cuales hablaremos más adelante. Para usarlas, simplemente tienes que poner el nombre de la variable, por ejemplo,
                     para mostrar el valor de <i>miPrimerVariableDeNumero</i> en la pantalla lo haríamos de la siguiente forma:</p>
      
      <pre>
      <code>
   {
      <span class="reserved-word">imprimir</span>(miPrimerVariableDeNumero)
   }
      </code>
      </pre>
                  <p>El código anterior mostraría en pantalla:</p>
                  
                  <div class="output">
                     <samp>5</samp>
                  </div>
                  
                  <div class="line"></div>
                  
                  <h4>Listas</h4>
                  <p>A veces es necesario agrupar un conjunto de variables, para estas situaciones puedes usar las listas.</p>
                  <br />

                  <p>Una lista es una colección secuencial de elementos del mismo tipo, de tamaño fijo. Puedes declarar una lista de la siguiente forma:
                  </p>

      <pre>
      <code>
   <span class="comment">// Lista que contiene 5 números.</span>
   <span class="reserved-word-3">lista</span> de <span class="reserved-word-3">numero</span> de <span class="reserved-word-3">5</span> miListaDeNumeros;
      </code>
      </pre>

                  <p>Puedes declarar múltiples listas de la misma forma que declaras múltiples variables.</p>
                  <br />

                  <p>Una vez que has declarado una lista, puedes asignarle valores indicando el elemento al que le quieres asignar un valor.
                     Sin embargo, en el contexto de las listas, el primer elemento tiene la posición 0, el segundo la posición 1, y así consecutivamente.</p>
                  <br />

                  <p>Por último, tienes que hacer uso de la función <span class="reserved-word">agregar a</span> (en la siguiente lección hablaremos más sobre 
                     funciones) de la siguiente forma:</p>

      <pre>
      <code>
   {
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 5, 0)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 10, 1)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 15, 2)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 20, 3)
      <span class="reserved-word">agregar a</span> (miListaDeNumeros, 25, 4)
   }
      </code>
      </pre>      
                  <p>Después de ejecutar el código anterior, el primer elemento de la variable <i>miListaDeNumeros</i> tendría el valor de <i>5</i>,
                     el segundo elemento tendría el valor de <i>10</i>, el tercer elemento tendría el valor de <i>15</i>,
                     el cuarto elemento tendría el valor de <i>20</i>, y el último elemento tendría el valor de <i>25</i>.</p>
                  <br />

                  <p>De la misma forma que puedes usar el valor de las variables, puedes usar el valor de un elemento de la lista. Para ello,
                     tienes que hacer uso de la función <span class="reserved-word">acceder</span> e indicar la posición del elemento que quieres,
                     de la siguiente forma:</p>

      <pre>
      <code>
   {
      <span class="reserved-word">imprimir</span> (<span class="reserved-word">acceder</span> (miListaDeNumeros, 1))
   }
      </code>
      </pre>
                  <p>El código anterior mostraría en pantalla:</p>
                  
                  <div class="output">
                     <samp>10</samp>
                  </div>

                  <br />

                  <p class="text-right"><a href="/funciones" class="resource">Funciones ></a></p>
                  
               </div>
            </div>
         </div>
      </div>
    </div>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $(this).toggleClass('active');
            $("#wrapper").toggleClass("toggled");
         });
      });
   </script>
</body>
</html>